<!--
    keyestudio-relay-shield-ks0212.html

    Copyright (c) 2020-2021 Spring City Solutions LLC and other contributors
    Licensed under the Apache License, Version 2.0
    KEYESTUDIO (tm) is a trademark of Shenzhen KEYES DIY Robot co., Ltd.

    https://www.keyestudio.com/keyestudio-rpi-4channel-relay-5v-shield-for-raspberry-pi-ce-certification-p0475-p0475.html

    https://wiki.keyestudio.com/index.php/KS0212_keyestudio_RPI_4-channel_Relay_Shield

    https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212

    https://npmjs.org/package/node-red-contrib-keyestudio-relay-shield-ks0212

    https://flows.nodered.org/node/node-red-contrib-keyestudio-relay-shield-ks0212

    https://nodered.org/

    Links for Songle SRD-05VDC-SL-C relay:
    http://www.songlerelay.com/Product_index_id_19.htm
    http://www.songlerelay.com/Public/Uploads/20161104/581c81ac16e36.pdf

-->
<script type="text/javascript">
RED.nodes.registerType('RelayJ2', {
    category: 'relays',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 0,
    icon: "762bb1bd376996d8e719dac91f0e02a4.png",
    paletteLabel: "Relay J2",
    label: function() {
        return this.name || "Relay J2";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('RelayJ3', {
    category: 'relays',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 0,
    icon: "762bb1bd376996d8e719dac91f0e02a4.png",
    paletteLabel: "Relay J3",
    label: function() {
        return this.name || "Relay J3";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('RelayJ4', {
    category: 'relays',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 0,
    icon: "762bb1bd376996d8e719dac91f0e02a4.png",
    paletteLabel: "Relay J4",
    label: function() {
        return this.name || "Relay J4";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('RelayJ5', {
    category: 'relays',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 0,
    icon: "762bb1bd376996d8e719dac91f0e02a4.png",
    paletteLabel: "Relay J5",
    label: function() {
        return this.name || "Relay J5";
    }
});
</script>
<script type="text/html" data-template-name="RelayJ2">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="RelayJ3">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="RelayJ4">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="RelayJ5">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>