<!--
  Copyright (c) 2020-2021 Spring City Solutions LLC and other contributors
  Licensed under the Apache License, Version 2.0
-->
<script type="text/html" data-help-name="RelayJ2">
    <p>Turns Relay J2 on or off based on incoming messages</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">boolean | numerical | string</span>
        </dt>
        <dd>Tell the relay to turn on or off</dd>
      </dl>

    <h3>Details</h3>
      <p>Several payload options:</p>
      <p>Numerical 1 or 0</p>
      <p>Boolean true or false</p>
      <p>String T or F</p>
      <p>String H or L</p>
      <p>String set or reset</p>
      <p>String 1 or 0</p>
      <p>String true or false</p>
      <p>String on or off</p>
      <p>The following payloads turn on the relay:</p>
      <p>String set, String true, String T, String H</p>
      <p>String on, String 1, Boolean T, Numerical 1</p>
      <p>Any other payload not listed above turns off the relay</p>

    <h3>Hardware Links</h3>
      <ul>
        <li><a href="https://www.keyestudio.com/keyestudio-rpi-4channel-relay-5v-shield-for-raspberry-pi-ce-certification-p0475-p0475.html">
          Board Manufacturer Store
        </a></li>
        <li><a href="https://wiki.keyestudio.com/index.php/KS0212_keyestudio_RPI_4-channel_Relay_Shield">
          Board Manufacturer Wiki
        </a></li>
        <li><a href="http://www.songlerelay.com/Product_show_id_539.htm">
          SRD series relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
        <li><a href="http://www.songlerelay.com/Public/Uploads/20161104/581c81ac16e36.pdf">
          Datasheet for relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
      </ul>
    
    <h3>Spring City Solutions Links</h3>
      <ul>
        <li><a href="https://www.springcitysolutions.com/nodered">
          Spring City Solutions Node-RED related project page
        </a></li>
        <li><a href="https://www.springcitysolutions.com/nodered-keyestudio-relay-shield">
          Spring City Solutions page for this node
        </a></li>
        <li><a href="mailto:nodered@springcitysolutions.com">
          Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
        </a></li>                
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab page for this node
        </a></li>
        <li><a href="https://www.patreon.com/springcitysolutions_nodered">
          Patreon page for this project
        </a></li>
      </ul>

      <h3>Software Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab for this node
        </a></li>
        <li><a href="https://npmjs.org/package/node-red-contrib-keyestudio-relay-shield-ks0212">
          npmjs for this node
        </a></li>           
        <li><a href="https://flows.nodered.org/node/node-red-contrib-keyestudio-relay-shield-ks0212">
          Node-RED flows page for this node
        </a></li>
      </ul>

      <h3>Documentation Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212/-/wikis/home">
          Gitlab wiki for this node (the master copy of list of links is here)
        </a></li>
        <li><a href="https://youtu.be/VkkeTJV-4gc">
          Youtube video "How to set up"
        </a></li>           
        <li><a href="https://youtu.be/iC77coWWsT0">
          Youtube video "How to use"
        </a></li>
        <li><a href="https://youtu.be/5Al1RFTqQQM">
          Youtube video "Testing results"
        </a></li>        
      </ul>

      <h3>Trademarks</h3>
      <ul>
        <li>KEYESTUDIO is a registered trademark of Shenzhen KEYES DIY Robot co., Ltd.</li>
        <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
        <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li>
        <li>Python is a registered trademark of the Python Software Foundation.</li>
        <li>Songle is a trademark of Zhejiang Songle Machinery Co., Ltd. Wenling City,Zhejiang CHINA</li>
        <li>Peakmeter is a trademark of Shenzhen New Huayi Instrument Co., Ltd.</li>
        <li>Rigol is a trademark of RIGOL TECHNOLOGIES CO., LTD.</li>
        <li>"All trademarks are property of their respective owners"</li>
      </ul>

    <h3>Copyrights and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020-2021 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>NRGPIO.PY Copyright JS Foundation and other contributors and licensed
        under Apache License, Version 2.0</li>
        <li>Icon made from http://www.onlinewebfonts.com/icon aka Icon Fonts
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="RelayJ3">
    <p>Turns Relay J3 on or off based on incoming messages</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">boolean | numerical | string</span>
        </dt>
        <dd>Tell the relay to turn on or off</dd>
      </dl>

    <h3>Details</h3>
      <p>Several payload options:</p>
      <p>Numerical 1 or 0</p>
      <p>Boolean true or false</p>
      <p>String T or F</p>
      <p>String H or L</p>
      <p>String set or reset</p>
      <p>String 1 or 0</p>
      <p>String true or false</p>
      <p>String on or off</p>
      <p>The following payloads turn on the relay:</p>
      <p>String set, String true, String T, String H</p>
      <p>String on, String 1, Boolean T, Numerical 1</p>
      <p>Any other payload not listed above turns off the relay</p>

    <h3>Hardware Links</h3>
      <ul>
        <li><a href="https://www.keyestudio.com/keyestudio-rpi-4channel-relay-5v-shield-for-raspberry-pi-ce-certification-p0475-p0475.html">
          Board Manufacturer Store
        </a></li>
        <li><a href="https://wiki.keyestudio.com/index.php/KS0212_keyestudio_RPI_4-channel_Relay_Shield">
          Board Manufacturer Wiki
        </a></li>
        <li><a href="http://www.songlerelay.com/Product_show_id_539.htm">
          SRD series relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
        <li><a href="http://www.songlerelay.com/Public/Uploads/20161104/581c81ac16e36.pdf">
          Datasheet for relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
      </ul>
    
    <h3>Spring City Solutions Links</h3>
      <ul>
        <li><a href="https://www.springcitysolutions.com/nodered">
          Spring City Solutions Node-RED related project page
        </a></li>
        <li><a href="https://www.springcitysolutions.com/nodered-keyestudio-relay-shield">
          Spring City Solutions page for this node
        </a></li>
        <li><a href="mailto:nodered@springcitysolutions.com">
          Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
        </a></li>                
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab page for this node
        </a></li>
        <li><a href="https://www.patreon.com/springcitysolutions_nodered">
          Patreon page for this project
        </a></li>
      </ul>

      <h3>Software Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab for this node
        </a></li>
        <li><a href="https://npmjs.org/package/node-red-contrib-keyestudio-relay-shield-ks0212">
          npmjs for this node
        </a></li>           
        <li><a href="https://flows.nodered.org/node/node-red-contrib-keyestudio-relay-shield-ks0212">
          Node-RED flows page for this node
        </a></li>
      </ul>

      <h3>Documentation Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212/-/wikis/home">
          Gitlab wiki for this node (the master copy of list of links is here)
        </a></li>
        <li><a href="https://youtu.be/VkkeTJV-4gc">
          Youtube video "How to set up"
        </a></li>           
        <li><a href="https://youtu.be/iC77coWWsT0">
          Youtube video "How to use"
        </a></li>
        <li><a href="https://youtu.be/5Al1RFTqQQM">
          Youtube video "Testing results"
        </a></li>        
      </ul>

      <h3>Trademarks</h3>
      <ul>
        <li>KEYESTUDIO is a registered trademark of Shenzhen KEYES DIY Robot co., Ltd.</li>
        <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
        <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li>
        <li>Python is a registered trademark of the Python Software Foundation.</li>
        <li>Songle is a trademark of Zhejiang Songle Machinery Co., Ltd. Wenling City,Zhejiang CHINA</li>
        <li>Peakmeter is a trademark of Shenzhen New Huayi Instrument Co., Ltd.</li>
        <li>Rigol is a trademark of RIGOL TECHNOLOGIES CO., LTD.</li>
        <li>"All trademarks are property of their respective owners"</li>
      </ul>

    <h3>Copyrights and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020-2021 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>NRGPIO.PY Copyright JS Foundation and other contributors and licensed
        under Apache License, Version 2.0</li>
        <li>Icon made from http://www.onlinewebfonts.com/icon aka Icon Fonts
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="RelayJ4">
    <p>Turns Relay J4 on or off based on incoming messages</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">boolean | numerical | string</span>
        </dt>
        <dd>Tell the relay to turn on or off</dd>
      </dl>

    <h3>Details</h3>
      <p>Several payload options:</p>
      <p>Numerical 1 or 0</p>
      <p>Boolean true or false</p>
      <p>String T or F</p>
      <p>String H or L</p>
      <p>String set or reset</p>
      <p>String 1 or 0</p>
      <p>String true or false</p>
      <p>String on or off</p>
      <p>The following payloads turn on the relay:</p>
      <p>String set, String true, String T, String H</p>
      <p>String on, String 1, Boolean T, Numerical 1</p>
      <p>Any other payload not listed above turns off the relay</p>

    <h3>Hardware Links</h3>
      <ul>
        <li><a href="https://www.keyestudio.com/keyestudio-rpi-4channel-relay-5v-shield-for-raspberry-pi-ce-certification-p0475-p0475.html">
          Board Manufacturer Store
        </a></li>
        <li><a href="https://wiki.keyestudio.com/index.php/KS0212_keyestudio_RPI_4-channel_Relay_Shield">
          Board Manufacturer Wiki
        </a></li>
        <li><a href="http://www.songlerelay.com/Product_show_id_539.htm">
          SRD series relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
        <li><a href="http://www.songlerelay.com/Public/Uploads/20161104/581c81ac16e36.pdf">
          Datasheet for relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
      </ul>
    
    <h3>Spring City Solutions Links</h3>
      <ul>
        <li><a href="https://www.springcitysolutions.com/nodered">
          Spring City Solutions Node-RED related project page
        </a></li>
        <li><a href="https://www.springcitysolutions.com/nodered-keyestudio-relay-shield">
          Spring City Solutions page for this node
        </a></li>
        <li><a href="mailto:nodered@springcitysolutions.com">
          Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
        </a></li>                
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab page for this node
        </a></li>
        <li><a href="https://www.patreon.com/springcitysolutions_nodered">
          Patreon page for this project
        </a></li>
      </ul>

      <h3>Software Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab for this node
        </a></li>
        <li><a href="https://npmjs.org/package/node-red-contrib-keyestudio-relay-shield-ks0212">
          npmjs for this node
        </a></li>           
        <li><a href="https://flows.nodered.org/node/node-red-contrib-keyestudio-relay-shield-ks0212">
          Node-RED flows page for this node
        </a></li>
      </ul>

      <h3>Documentation Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212/-/wikis/home">
          Gitlab wiki for this node (the master copy of list of links is here)
        </a></li>
        <li><a href="https://youtu.be/VkkeTJV-4gc">
          Youtube video "How to set up"
        </a></li>           
        <li><a href="https://youtu.be/iC77coWWsT0">
          Youtube video "How to use"
        </a></li>
        <li><a href="https://youtu.be/5Al1RFTqQQM">
          Youtube video "Testing results"
        </a></li>        
      </ul>

      <h3>Trademarks</h3>
      <ul>
        <li>KEYESTUDIO is a registered trademark of Shenzhen KEYES DIY Robot co., Ltd.</li>
        <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
        <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li>
        <li>Python is a registered trademark of the Python Software Foundation.</li>
        <li>Songle is a trademark of Zhejiang Songle Machinery Co., Ltd. Wenling City,Zhejiang CHINA</li>
        <li>Peakmeter is a trademark of Shenzhen New Huayi Instrument Co., Ltd.</li>
        <li>Rigol is a trademark of RIGOL TECHNOLOGIES CO., LTD.</li>
        <li>"All trademarks are property of their respective owners"</li>
      </ul>

    <h3>Copyrights and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020-2021 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>NRGPIO.PY Copyright JS Foundation and other contributors and licensed
        under Apache License, Version 2.0</li>
        <li>Icon made from http://www.onlinewebfonts.com/icon aka Icon Fonts
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="RelayJ5">
    <p>Turns Relay J5 on or off based on incoming messages</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">boolean | numerical | string</span>
        </dt>
        <dd>Tell the relay to turn on or off</dd>
      </dl>

    <h3>Details</h3>
      <p>Several payload options:</p>
      <p>Numerical 1 or 0</p>
      <p>Boolean true or false</p>
      <p>String T or F</p>
      <p>String H or L</p>
      <p>String set or reset</p>
      <p>String 1 or 0</p>
      <p>String true or false</p>
      <p>String on or off</p>
      <p>The following payloads turn on the relay:</p>
      <p>String set, String true, String T, String H</p>
      <p>String on, String 1, Boolean T, Numerical 1</p>
      <p>Any other payload not listed above turns off the relay</p>

      <h3>Hardware Links</h3>
      <ul>
        <li><a href="https://www.keyestudio.com/keyestudio-rpi-4channel-relay-5v-shield-for-raspberry-pi-ce-certification-p0475-p0475.html">
          Board Manufacturer Store
        </a></li>
        <li><a href="https://wiki.keyestudio.com/index.php/KS0212_keyestudio_RPI_4-channel_Relay_Shield">
          Board Manufacturer Wiki
        </a></li>
        <li><a href="http://www.songlerelay.com/Product_show_id_539.htm">
          SRD series relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
        <li><a href="http://www.songlerelay.com/Public/Uploads/20161104/581c81ac16e36.pdf">
          Datasheet for relay manufacturer for the Songle SRD-05VDC-SL-C relay used on the board
        </a></li>
      </ul>
    
    <h3>Spring City Solutions Links</h3>
      <ul>
        <li><a href="https://www.springcitysolutions.com/nodered">
          Spring City Solutions Node-RED related project page
        </a></li>
        <li><a href="https://www.springcitysolutions.com/nodered-keyestudio-relay-shield">
          Spring City Solutions page for this node
        </a></li>
        <li><a href="mailto:nodered@springcitysolutions.com">
          Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
        </a></li>                
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab page for this node
        </a></li>
        <li><a href="https://www.patreon.com/springcitysolutions_nodered">
          Patreon page for this project
        </a></li>
      </ul>

      <h3>Software Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212">
          Spring City Solutions Gitlab for this node
        </a></li>
        <li><a href="https://npmjs.org/package/node-red-contrib-keyestudio-relay-shield-ks0212">
          npmjs for this node
        </a></li>           
        <li><a href="https://flows.nodered.org/node/node-red-contrib-keyestudio-relay-shield-ks0212">
          Node-RED flows page for this node
        </a></li>
      </ul>

      <h3>Documentation Links</h3>
      <ul>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/keyestudio-relay-shield-ks0212/-/wikis/home">
          Gitlab wiki for this node (the master copy of list of links is here)
        </a></li>
        <li><a href="https://youtu.be/VkkeTJV-4gc">
          Youtube video "How to set up"
        </a></li>           
        <li><a href="https://youtu.be/iC77coWWsT0">
          Youtube video "How to use"
        </a></li>
        <li><a href="https://youtu.be/5Al1RFTqQQM">
          Youtube video "Testing results"
        </a></li>        
      </ul>

      <h3>Trademarks</h3>
      <ul>
        <li>KEYESTUDIO is a registered trademark of Shenzhen KEYES DIY Robot co., Ltd.</li>
        <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
        <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li>
        <li>Python is a registered trademark of the Python Software Foundation.</li>
        <li>Songle is a trademark of Zhejiang Songle Machinery Co., Ltd. Wenling City,Zhejiang CHINA</li>
        <li>Peakmeter is a trademark of Shenzhen New Huayi Instrument Co., Ltd.</li>
        <li>Rigol is a trademark of RIGOL TECHNOLOGIES CO., LTD.</li>
        <li>"All trademarks are property of their respective owners"</li>
      </ul>

    <h3>Copyrights and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020-2021 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>NRGPIO.PY Copyright JS Foundation and other contributors and licensed
        under Apache License, Version 2.0</li>
        <li>Icon made from http://www.onlinewebfonts.com/icon aka Icon Fonts
        is licensed by CC BY 3.0</li>
      </ul>
</script>